:root.theme-dark {
  --text-color: #f1b2ce;
  --sub-text-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --title-color-shadow: #FF0070;
  --header-menu-hover-color: rgb(255 0 112 / 0.4);
  --decorated-zone-color: #FF0070;
  --navigation-color: #FF0070;
  --section-title-color: #FF0070;
  --button-active-color: #FF0070;
  --button-focus-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --rec-element: flex;
}
