/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
}

.page.theme-light .header__decorated-element {
  display: none;
}

.page.theme-light .header__title {
  color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
 :root {
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  }
}
