:root.theme-light {
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color-shadow: #FF8DCB;
  --header-menu-hover-color: rgb(53 52 48 / 0.4);
  --decorated-zone-color: #353430;
  --navigation-color: #353430;
  --section-title-color: #353430;
  --button-active-color: #353430;
  --button-focus-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --rec-element: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color-shadow: #FF8DCB;
  --header-menu-hover-color: rgb(53 52 48 / 0.4);
  --decorated-zone-color: #353430;
  --navigation-color: #353430;
  --section-title-color: #353430;
  --button-active-color: #353430;
  --button-focus-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --rec-element: none;
  }
}
