/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
}

.theme-light .header__decorated-element {
  display: none;
}

.theme-light .header__title {
  color: #ffc2e6;
}

.theme-light .header__theme-menu-list {
  color: #353430;
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--header-menu-hover-color);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--header-menu-hover-color);
}

.theme-light .question__section-title {
  color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --sub-text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  }
}
