/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #f1b2ce;
  --sub-text-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --header-menu-hover-color: rgb(255 0 112 / 0.4);
  --font: 'IBM Plex Mono';
  --font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
}
